@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior: smooth;
    
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
  
}


::-webkit-scrollbar{
    display: none;
}
